$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "../app/styles/_variables.scss";
@import "../app/styles/_bootswatch.scss";

html, body {
    height: 100%;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

#view {
    height: 100%;
}

.button-icon {
    font-size: 1.5em;
}

#map-container, #visualization {
    height: 100%;
}
